body{
    background-color: black;
}
.container{
    background-image: url("child.jpg");
    border: 2px solid black;
    margin-left: 550px;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    margin-left: 550px;
    object-fit: cover;
    padding-top: 80px;
    width: 1200px;
    height: 90vh;
}
.container2{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}
.container2 p{
font-size: 30px;
color: white;
}
.container h1{
    color: orange;
}
.names{
    display: flex;
    text-align: center;
    margin-left: 350px;
}
.container2 p{
    font-size: 25px;
}
#men li{
    font-size: 20px;
}
.names{
    text-align: center;
}
#Female li{
    font-size: 20px;
}
.btn{
    border-radius: 10px;
    background-color: blue;
    color: white;
    width: 40%;
    margin-left: 200px;
    height: 35px;
    text-align: center;

} 